.hero{
  width: 100%;
  background-color: royalblue;
  height: 200px;
}

.titles{
  padding-left: 20px;
  padding-top: 50px;
}

.title{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.subtitle{
  margin-left: 15px;
  color: white;
  font-size: 20px;
}